/* Style applied to every <p> tag */
p {
  color: #333;
  font-family: Arial, sans-serif;
}

.highlight {
  background-color: #6b9ca9;
  border: 2px solid #ccc;
  padding: 10px;
}

#intro {
  margin-bottom: 20px;
}


a:hover {
  color: #ff6600;
}


img {
  max-width: 200px;
  height: auto;
  border-radius: 10px;
  margin: 10px;
}
